[submodule "rbs"]
	path = rbs
	url = https://github.com/ruby/rbs.git
[submodule "testbed/goodcheck"]
	path = testbed/goodcheck
	url = https://github.com/sider/goodcheck.git
[submodule "testbed/diff-lcs"]
	path = testbed/diff-lcs
	url = https://github.com/mame/diff-lcs.git
